<!DOCTYPE html>
<html>
  <head>
    <title>Estate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if ["public","devise"].include?(controller.controller_name) %>
    <header> 
      <%= render "layouts/public" %>
    </header>
    <% else %>
    <%= render "layouts/dashboard" %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <main role="main">

  <div class="container">
    <!-- Example row of columns -->
    

    <hr>

  </div> 

</main>

    <%= yield %>

    <%= render "layouts/footer" %>

  </body>
</html>
